@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background: #fff;
  -webkit-font-smoothing: antialiased !important;
}

body, input, button {
  font-family: 'Source Sans Pro', sans-serif;;
  font-size: 14px;
}

.header {
  height: 57px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  padding-left: 25px;
}