button {
    cursor: pointer;
    font-weight: bold;
  }
  
.calculator {
  padding: 25px;
  height: 100%;
}

.calculator__options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0px;
}

.calculator__filters {
  display: flex;
  flex-direction: row;
}

.calculator__filters input {
  width: 160px;
  height: 39px;
  background: #F2F2F2;
  border-radius: 5px;
  border: 1px solid #F2F2F2;
  padding: 10px;
  margin-right: 15px;
  color: #4F4F4F;
}

.calculator__filters button.search {
  background-color: #3474eb;
  border: 1px solid #F2F2F2;
  width: 80px;
  height: 39px;
  color: white;
  border-radius: 5px;
}

.calculator__filters button {
  width: 100px;
  height: 39px;
  font-weight: bold;
  border: 1px solid #F2F2F2;
}

.calculator__filters button.inactive {
  background-color: #F2F2F2;
  color: #4F4F4F;
}

.calculator__filters button.active {
  background-color: #3474eb;
  color: white;
}

.calculator__filters button.left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.calculator__filters button.right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.calculator_data__table-container {
  overflow: auto;
  height: calc(100vh - 300px);
}

.calculator_data__table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

.calculator_data__table tr {
  display: flex;
  justify-content: space-between;
}

.calculator_data__table th {
  background: #3474eb;
  color: white;
  height: 51px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.calculator_data__table span {
  margin: auto 0;
}

td {
  width: 100%;
  border: 0.5px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: #F2F2F2;
}

.divider {
  border-left: 2px solid #000;
  margin: 5px 25px;
  height: 30px;
}

select {
  width: 160px;
  height: 39px;
  background: #F2F2F2;
  border-radius: 5px;
  border: 1px solid #F2F2F2;
  padding: 10px;
  margin-right: 15px;
  color: #4F4F4F;
}